.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    font-weight: 800;
    color: #4C69A2;
  }
}

