.search {
  width: 100%;
  // min-width: 300px;
  // max-width: 500px;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  margin: 0.5rem;

  // border: 1px solid green;
  
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  label {
    margin:  0.5rem;
  }
  input {
    margin:  0.5rem;
    outline: none;
    width: 50%;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
}