*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  //border: 1px solid red;
  // background-color: white;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &::after {
    content: "";
    background-image: url('../Images/img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}
