.cities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vh;
    @media ( orientation: portrait) {
      font-size: 2.5vh;
    }
    font-weight: 800;
    color: #4C69A2;
  }



  .list {
    list-style: decimal;
    height: 75vh;
    width: 75vw;
    margin: 2vh;
    overflow: auto;
    @media ( orientation: portrait) {
      width: 95vw;
    }
    .item {
      margin: 1vh;
      border: 1px solid gray;
      border-radius: 0 20px 0 0px;
      display: flex;
      flex-direction: column;
      .top {
        cursor: pointer;
        background-color: #4C69A2;
        color: white;
        border-radius: 0 20px 0 0px;
        padding: 0.5rem 1.5rem;
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        border-bottom: 1px solid gray;
        .measurement {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        .name {
          width: 40%;
          font-size: 2.5vh;
          font-weight: 600;
        }
        .value {
          font-size: 2.5vh;
          width: 20%;
        }
        .date {
          font-size: 2.5vh;
          width: 50%;
        }
        &:hover {
          background-color: lighten($color: #4C69A2, $amount: 10);
        }
      }
      @media ( orientation: portrait) {
        .top{
          display: flex;
          flex-direction: column;
          font-size: 2vh;
          .measurement {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          .name, .value, .date { width: 100%; }
        }
      }
      .bottom {
        padding: 0.5rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2vh;
      }

      .hide {
        display: none;
      }
      
    }
  }
  .loader {
    margin: 1rem;
  }
}
