.search {
  width: 100%;
  // min-width: 300px;
  // max-width: 500px;
  display: flex;
  justify-content: center;
  @media ( orientation: portrait) {
    margin: 5vh 0;
    flex-direction: column;
    align-items: center;
  }

  padding: 1.5rem;
  margin: 0.5rem;

  // border: 1px solid green;
  
  font-size: 4vh;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  label {
    margin:  0.5rem;
  }
  input {
    margin:  0.5rem;
    outline: none;
    width: 50%;
    border: none;
    background-color: rgba($color: white, $alpha: 0.5);
    border-bottom: 1px solid gray;
    font-size: 3vh;
    @media ( orientation: portrait) {
      font-size: 5vh;
      width: 75%;
    }
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
}